.boardContainer {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    flex-shrink: 0;

    align-items: center;
}

.board {
    padding: 0.5rem;
    margin: 0;

    width: min(632px, 80%);
    height: 632px;
}

.sketchBox {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border: 1px solid #6E7E85;
}

.sketchBox:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.sketchRow {
    display: flex;
    flex-flow: row nowrap;
}

.controls {
    display: flex;
    justify-content: space-between;
}