.boardContainer {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    flex-shrink: 0;

    align-items: center;
}

.board { 
    margin: 0.5rem;
    border: 1px solid #6E7E85;
    border-left: 0px;
    border-bottom: 0px;

    width: min(632px, 80%);
    height: 632px;

    box-shadow: 10px 5px 10px gray;
}

.sketchBox {
    box-sizing: border-box;
    padding: 0px;
    width: 32px;
    height: 32px;
    border-left: 1px solid #6E7E85;
    border-bottom: 1px solid #6E7E85;
}

.sketchBox:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.sketchRow {
    display: flex;
    flex-flow: row nowrap;
}

.controls {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.clickedBox {
    background-color: white;
}

.colorInput {
    width: 5rem;
    height: 50px;
}